/.idea/
/.old/
/.temp/
/annotation/
/data/
/dataset/
/dataset_old/
/examples/
/scripts/
/segmentation/
/literature/
/layoutparserfork/
/results/

# Python build artefacts
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
